@use './tokens.scss' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#app {
  height: 100%;
  font-family: $font-family;
  font-size: $font-size-sm;
  color: $color-text;
  background: $color-bg;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $color-primary;
  text-decoration: none;
}
